<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Car VIN code</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Car</th>
      <th scope="col" sortable="area" (sort)="onSort($event)">Color</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Model</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Year</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">availability</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">price</th>
     
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars$ | async">
      <th scope="row">{{ car.id }}</th>
      <td>
        <a  routerLink="{{car.car_vin}}">{{car.car_vin}}</a>
      <!-- <a
       class="nav-link active"
       aria-current="page">{{car.car_vin}}</a> -->
       </td>
      <td>
           <ngb-highlight [result]="car.car" [term]="service.searchTerm"></ngb-highlight>
      </td>
      
      <td><ngb-highlight [result]="car.car_color" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="car.car_model" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="car.car_model_year | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="car.availability" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="car.price" [term]="service.searchTerm"></ngb-highlight></td>
     
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="100">100 items per page</option>
      <option [ngValue]="200">200 items per page</option>
      <option [ngValue]="300">300 items per page</option>
    </select>
  </div>

</form>